.about {
  border-bottom: 1px solid #d9fff5;
  padding-bottom: 16px;
  position: relative;
}

.about__order-controls {
  display: none;

  @media (min-width: $desktop) {
    position: absolute;
    display: flex;
    gap: 35px;
    top: -3px;
    right: 27px;
  }
}

.about__title {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;

  margin: 0;
  margin-bottom: 20px;
  display: block;
  padding-left: 18px;
  position: relative;

  @media (min-width: $tablet) {
    margin-bottom: 33px;
    padding-left: 24px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 8px;
    padding-left: 33px;
    width: 50%;
  }
}

.about__title::before {
  width: 4px;
  height: 40px;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../img/svg/icons/highlight-icon.svg');
}

.about__page-nav {
  margin-bottom: 10px;
  padding: 0 16px;
  padding-right: 0;
  padding-left: 0;

  @media (min-width: $tablet) {
    margin-bottom: 15px;
    // padding-left: 24px;
  }

  @media (min-width: $desktop) {
    padding-left: 32px;
  }
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 5px;
    padding: 0 24px;
  }

  @media (min-width: $desktop) {
    padding-left: 33px;
  }
}

.about__container {
  padding-bottom: 10px;
  width: 100%;
}

.about__container:first-child {
  padding: 0 16px;

  @media (min-width: $tablet) {
    padding: 0;;
  }
}

.about__text-wrapper {
  margin-bottom: 16px;
  max-height: 90px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet) {
    width: 88%;
    max-height: 160px;
  }
}

.about__text-wrapper--open {
  max-height: 100%;
}

.about__text-content {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;

  @media (min-width: $tablet) {
    line-height: 20px;
  }
}

.about__image {
  display: block;
  width: 100%;
  height: auto;
}