.brands {
  max-width: 100vw;
  width: 100%;

  @media (min-width: $tablet) {
    padding-left: 24px;
    padding-bottom: 30px;
  }
}

.brands__section-title {
  @media (min-width: $desktop) {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
}

.brands__swiper {
  position: relative;
  margin-bottom: 10px;


  @media (min-width: $tablet) {
    transition-duration: 0.5s;
    margin-bottom: 20px;
  }
}

.brands__swiper--collapse {
  height: 130px;

  @media (min-width: $tablet) {
    height: 165px;
  }
}

.brands__swiper::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 24px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0) 100%
  );

  @media (min-width: $tablet) {
    display: none;
  }
}

.brands__swiper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 24px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(
    90deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0) 100%
  );

  @media (min-width: $tablet) {
    display: none;
  }
}

.brands .brands__swiper-wrapper {
  padding: 16px;
  padding-right: 0;

  @media (min-width: $tablet) {
    flex-wrap: wrap;
    justify-content: start;
    width: max-content;
    width: 100%;
    margin: 0 auto;
    gap: 16px 24px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    max-width: 1120px;
  }
}

.brands .brands__slide {
  width: 240px;
  height: 72px;
  display: flex;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #eaeaea;

  @media (min-width: $tablet) {
    width: 224px;
  }
}

.brands__card {
  width: 100%;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands__slide:hover {
  opacity: 0.7;
}

.brands__card img {
  display: block;
  max-width: 128px;
  height: auto;
}

.brands__swiper .brands__swiper-pagination {
  @media (min-width: $tablet) {
    display: none;
  }
}

.brands__footer {
  @media (min-width: $tablet) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    max-width: 1120px;
  }
}

.brands__show-more-button {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}