.change-language {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.change-language__link {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  color: #1B1C21;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.change-language__link--russian::after {
  content: "ru";
}

.change-language__link--english::after {
  content: "en";
}

.change-language__link--chinese::after {
  content: "ch";
}

.change-language__link--current {
  color: #7E7E82;
}

.change-language__link:focus, .change-language__link:hover {
  box-shadow: 0 0 1px 1px;
}