.header-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;

  background-repeat: no-repeat;
  background-position: center center;
}

.header-button--burger-menu {
  background-image: url('../img/svg/icons/button-icon--burger-menu.svg');
  background-size: 18px 16px;

  @media (min-width: $tablet) {
    position: relative;
    margin-right: 22px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.header-button--burger-menu::before {
  @media (min-width: $tablet) {
    position: absolute;
    content: '';
    width: 2px;
    height: 32px;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border-radius: 1px;
    background: #eaeaea;
  }
}

.header-button--close-menu {
  background-image: url('../img/svg/icons/button-icon--close-menu.svg');
  background-size: 16px 16px;
}

.header-button--search {
  background-image: url('../img/svg/icons/button-icon--search.svg');
  background-size: 17px 17px;
  margin-left: auto;
}

.header-button--hide {
  display: none;
}

.header-button--phone {
  background-image: url('../img/svg/icons/button-icon--phone.svg');
  background-size: 18px 18px;
}

.header-button--chat {
  background-image: url('../img/svg/icons/button-icon--chat.svg');
  background-size: 30px 30px;
}

.header-button--profile {
  background-image: url('../img/svg/icons/button-icon--profile.svg');
  background-size: 20px 18px;
}

.header-button--repair-order {
  position: relative;
  background-image: url('../img/svg/icons/button-icon--repair-order.svg');
  background-size: 20px 18px;
}

.header-button--repair-order::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 32px;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  border-radius: 1px;
  background: #eaeaea;
}

.header-button--check-status {
  background-image: url('../img/svg/icons/button-icon--check-status.svg');
  background-size: 20px 18px;
}

.header-button:focus,
.header-button:hover {
  opacity: 0.7;
}

.header-button:active {
  opacity: 0.9;
}