.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  transform: translateX(120%);
  transition: visibility 0.2s ease, transform 0.3s ease;
}

.modal--open {
  visibility: visible;
  transform: none;
}

.modal__wrapper {
  margin-left: auto;
  padding-top: 80px;
  
  max-width: 440px;
  height: 100%;
  position: relative;

  background: #FFF;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.30), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

  @media (min-width: $tablet) {
    padding-top: 30px;
  }
}

.modal__close-button {
  position: absolute;
  top: 20px;
  left: 20px;

  @media (min-width: $tablet) {
    top: 25px;
    left: -65px;
  }
}

.modal__title {
  color: #1B1C21;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;

  position: relative;
  // display: block;
  min-height: 40px;
  padding-left: 16px;

  @media (min-width: $tablet) {
    padding-left: 32px;
  }
}

.modal__title::before {
  width: 4px;
  height: 40px;
  content: '';
  position: absolute;
  left: 0;
  top: -4px;
  background-image: url('../img/svg/icons/highlight-icon.svg');
  vertical-align: middle;
}

.modal__form {
  padding: 0 16px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet) {
    padding: 0 32px;
    padding-top: 20px;

  }
}

.modal__input {
  width: 100%;
  padding: 12px 16px;

  border: 1px solid #eaeaea;
  border-radius: 8px;

  background: #ffffff;

}

.modal__input::placeholder {
  color: rgba(181, 182, 188, 0.6);
}

.modal__text {
  color: #7E7E82;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.modal__link {
  color: #FF3E79;
  cursor: pointer;
}

.modal__link:hover {
  text-decoration: underline;
}

.modal__button {
  position: relative;
  align-self: flex-end;
  padding: 4px 15px;
  padding-right: 30px;

  color: #ffffff;
  background-color: #FF3E79;
  border-radius: 16px;

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
  letter-spacing: -0.15px;
  text-transform: uppercase;
}

.modal__button::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 10px;
  background-image: url('../img/svg/icons/button-icon--arrow-right--white.svg');
  right: 12px;
  top: 11px;
}

.modal__button:hover {
  background-color: #862844;
  opacity: 0.7;
}