.nav-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav-list__item {
  position: relative;
  padding-right: 24px;
  padding-left: 24px;
}

.nav-list__item--current::before {
  width: 4px;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../img/svg/icons/highlight-icon.svg');
}

.nav-list__link {
  display: block;
  color: #1b1c21;
  text-decoration: none;
}

.nav-list__link:focus,
.nav-list__link:hover {
  color: #ff3e79;
  text-decoration: underline;
}

.nav-list__link:active {
  text-decoration: none;
}