.order-controls {
  // width: 300px;
}

.order-controls__link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.order-controls__button-label {
  display: block;
  color: #1b1c21;
  text-align: right;
  font-family: 'TT Lakes', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.order-controls__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;

  background-repeat: no-repeat;
  background-position: center center;
}

.order-controls__button--repair-order {
  background-image: url('../img/svg/icons/button-icon--repair-order.svg');
  background-size: 20px 20px;
}

.order-controls__button--check-status {
  background-image: url('../img/svg/icons/button-icon--check-status.svg');
  background-size: 20px 20px;
}

.order-controls__button:focus,
.order-controls__button:hover {
  opacity: 0.7;
}

.order-controls__button:active {
  opacity: 0.9;
}