.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media (min-width: $tablet) {
    padding: 0 20px;
    padding-top: 50px;
    padding-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  @media (min-width: $desktop) {
    padding-left: 33px;
    padding-right: 33px;
  }
}

.page-footer__column {
  text-align: left;

  @media (min-width: $tablet) {
    width: 32%;
  }
}

.page-footer__column:first-child .page-footer__text {
  @media (min-width: $tablet) {
    text-align: left;
  }
}

.page-footer__column:last-child .page-footer__text {
  @media (min-width: $tablet) {
    text-align: right;
  }
}

.page-footer__text {
  color: #7E7E82;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.page-footer__link:hover {
  color: rgb(149, 0, 112);
  text-decoration: underline;
  cursor: pointer;
}