.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header__wrapper {
  position: relative;
  padding: 19px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  @media (min-width: $tablet) {
    padding: 19px 24px;
    gap: 18px;
  }
}

.page-header__wrapper::before {
  @media (min-width: $tablet) {
    position: absolute;
    content: '';
    width: 2px;
    height: 32px;
    top: 50%;
    left: 85px;
    transform: translateY(-50%);
    border-radius: 1px;
    background: #eaeaea;
  }
}

.page-header__wrapper::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 32px;
  top: 50%;
  right: 130px;
  transform: translateY(-50%);
  border-radius: 1px;
  background: #eaeaea;

  @media (min-width: $tablet) {
    right: 140px;
  }
}

.page-header__logo {
  margin-right: auto;
}

.page-header__controls-group {
  display: none;

  @media (min-width: $tablet) {
    padding-right: 20px;
    display: flex;
    gap: 16px;
  }
}
