.page {
  box-sizing: border-box;
}

.page__body {
  min-width: 320px;
  font-family: "TT Lakes", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  background-color: #f8f8f8;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page__wrapper {
  @media (min-width: $desktop) {
    max-width: $desktop;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-areas:
      'side-menu page-main'
      'side-menu page-footer';
  }
}

.page__main {
  padding-top: 22px;
  width: 100%;

  @media (min-width: $tablet) {
    padding-top: 16px;
  }

  @media (min-width: $desktop) {
    padding-top: 42px;
    grid-area: page-main;
  }
}

.page__footer {
  grid-area: page-footer;
  padding-top: 45px;
  padding-right: 10px;
  padding-left: 10px;

  @media (min-width: $desktop) {
    padding-left: 33px;
    padding-right: 33px;
  }
}

.page__menu-overlay {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.8;

  @media (min-width: $desktop) {
    display: none;
  }
}

.page__menu-overlay--show {
  display: block;

  @media (min-width: $desktop) {
    display: none;
  }
}