.prices-button {
  padding: 2px 14px;
  padding-right: 0;
  border-radius: 16px;
  background-color: #FF3E79;
  text-align: left;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.15px;
  text-transform: uppercase;

  background-image: url('../img/svg/icons/button-icon--arrow-right--white.svg');
  background-size: 7px 10px;
  background-repeat: no-repeat;
  background-position: 95px center;
}

.prices-button:hover {
  background-color: #8a2644;
}