.prices {
  max-width: 100vw;
  width: 100%;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
  }


}

.prices__section-title {
  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
}

.prices__swiper {
  // background: pink;
  // margin-bottom: 10px;

  @media (min-width: $tablet) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.prices__swiper-wrapper {
  padding: 16px;
  padding-right: 0;
  padding-bottom: 30px;
  align-items: stretch;

  @media (min-width: $tablet) {
    flex-direction: column;
  }
}

.prices__header {
  display: none;
}

.prices__slide {
  background-color: #ffffff;
  border-radius: 6px;
}

.prices__slide:hover {
  opacity: 0.7;
}

.prices__card {
  // width: 260px;
  // min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  gap: 25px;
  padding: 20px;

  color: #1B1C21;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
}

.prices__name span {
  display: block;
  color: #7E7E82;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.prices__value span {
  display: block;
  color: #7E7E82;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.prices__time span {
  display: block;
  color: #7E7E82;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.prices__button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

.prices__text {
  width: 90%;
  margin-bottom: 13px;
  padding: 0 22px;

  color: #1B1C21;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}

.prices__link {
  padding: 0 22px;
  display: block;
  width: 70%;

  color: #1B1C21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 150% */
  letter-spacing: -0.2px;
}

.prices__link-icon {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 24px;
  height: 20px;
  background-image: url('../img/svg/icons/button-icon--arrow-right--red.svg');
  background-repeat: no-repeat;
  background-position: center center;
}