.section-title {
  display: block;
  // margin: 0;
  padding: 16px;
  color: #7e7e82;
  font-family: 'TT Lakes', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
  border-top: 1px solid #d9fff5;
  background: linear-gradient(270deg, #f8f8f8 0%, #fff 98.61%);
}