.show-more-button {
  position: relative;
  padding-left: 32px;
  letter-spacing: -0.2px;

  background-image: url('../img/svg/icons/button-icon--show-more.svg');
  background-repeat: no-repeat;
  background-position: 10px;
}

.show-more-button--clicked {
  background-image: url('../img/svg/icons/button-icon--show-less.svg');
}