.side-menu {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 320px;
  height: 100%;

  z-index: 20;
  // display: none;

  background: #ffffff;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20);

  visibility: hidden;
  transform: translateX(-120%);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

  @media (min-width: $tablet) {
    width: 320px;
  }
  
  @media (min-width: $desktop) {
    visibility: visible;
    transform: none;
    height: 100vh;
    display: block;
    box-shadow: none;
    position: relative;
    grid-area: side-menu;
  }
}

.side-menu--open {
  // display: block;
  visibility: visible;
  transform: none;
}

.side-menu__wrapper {
  width: 100%;
  height: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    top: 0;
    position: fixed;
  }
}

.side-menu__header {
  max-width: 320px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 46px;
  padding-right: 24px;
  padding-left: 24px;
}

.side-menu__contacts {
  margin-top: auto;
  padding-right: 24px;
  padding-left: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }
}

.side-menu__change-language {
  padding-right: 24px;
  padding-left: 24px;
}