.tech-types {
  max-width: 100vw;
  width: 100%;
  border-bottom: 1px solid #d9fff5;

  @media (min-width: $tablet) {
    padding-left: 24px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop) {
    padding-left: 33px;
  }
}

.tech-types__swiper {
  position: relative;
  height: 224px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
    height: 100%;
  }
}

.tech-types__swiper--collapse {
  @media (min-width: $tablet) {
    height: 182px;
  }
}

.tech-types__swiper::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 24px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0) 100%
  );

  @media (min-width: $tablet) {
    display: none;
  }
}

.tech-types__swiper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 24px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(
    90deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0) 100%
  );

  @media (min-width: $tablet) {
    display: none;
  }
}

.tech-types__swiper-wrapper {
  margin-bottom: 20px;
  padding: 16px;
  padding-right: 0;
  gap: 6px;

  @media (min-width: $tablet) {
    flex-wrap: wrap;
    justify-content: start;
    width: max-content;
    width: 100%;
    margin: 0 auto;
    gap: 46px 24px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop) {
    max-width: 1120px;
  }
}

.tech-types .tech-types__slide {
  width: 240px;
  height: 124px;

  // height: 72px;
  display: flex;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #eaeaea;

  @media (min-width: $tablet) {
    width: 224px;
  }
}

.tech-types__slide:hover {
  opacity: 0.7;
  cursor: pointer;
}

.tech-types__card {
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  border-radius: 6px;
  border: 1px solid #eaeaea;

  @media (min-width: $tablet) {
    // width: 224px;

  }
}

.tech-types__card .button {
  align-self: flex-end;
}

.tech-types__footer {
  @media (min-width: $tablet) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    max-width: 1120px;
  }
}

.tech-types__show-more-button {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}