// Global
@import './global/normalize.scss';
@import './global/visually-hidden.scss';
@import './global/variables.scss';
@import './global/fonts.scss';

// Blocks
@import './blocks/button.scss';
@import './blocks/header-button.scss';
@import './blocks/page-logo.scss';
@import './blocks/page.scss';
@import './blocks/page-header.scss';