// Global
@import './global/normalize.scss';
@import './global/visually-hidden.scss';
@import './global/variables.scss';
@import './global/fonts.scss';

// Blocks
@import './blocks/button.scss';
@import './blocks/side-menu.scss';
@import './blocks/header-button.scss';
@import './blocks/nav-list.scss';
@import './blocks/change-language.scss';
@import './blocks/contacts.scss';
@import './blocks/page-logo.scss';
@import './blocks/page.scss';
@import './blocks/page-header.scss';
@import './blocks/order-controls.scss';
@import './blocks/about.scss';
@import './blocks/page-nav.scss';
@import './blocks/show-more-button.scss';
@import './blocks/brands.scss';
@import './blocks/section-title.scss';
@import './blocks/show-details-button.scss';
@import './blocks/tech-types.scss';
@import './blocks/prices.scss';
@import './blocks/prices-button.scss';
@import './blocks/page-footer.scss';
@import './blocks/modal.scss';